@import url("https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@25,31.7&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Kalnia+Glaze:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@25,31.7&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Jacques+Francois+Shadow&family=Kalnia+Glaze:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.ContainerPantalla {
  text-align: center;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  position: relative;
}

.ContainerPantalla h1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  font-size: 4rem;
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  color: yellow;
  animation: CentrarlizarTexto1 2s ease-in-out forwards;
}
.ContainerPantalla h2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  font-size: 3rem;
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  animation: CentrarlizarTexto2 2s ease-in-out forwards;
}

@keyframes CentrarlizarTexto1 {
    0% {
      top: 50%;
      left: 0%;
      transform: translate(-50%, -50%);
    }
    100% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @keyframes CentrarlizarTexto2 {
    0% {
      top: 60%;
      left: 100%;
      transform: translate(0, 0);
    }
    100% {
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }